#grey_background {
	background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#hidden_info {
	background-color: white;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    border: 1px solid black;
    display: none; 
}

.hide_me {
	display: none;
}

#close_img {
	width: 20px;
    height: 20px;
}